FullTextSearch/bin
FullTextSearch/obj
.idea
Phase04/Phase4Solution/.idea
Phase04/Phase4Solution/FullTextSearchTest/bin
Phase04/Phase4Solution/FullTextSearchTest/obj
Phase04/Phase4Solution/FullTextSearch/bin
Phase04/Phase4Solution/FullTextSearch/obj
Phase04/Phase4Solution/FullTextSearch/Assets/files
mvcPaint
testCase.txt
Phase03/FullTextSearch/Folder.DotSettings.user

Phase05/Phase4Solution/.idea
Phase05/Phase4Solution/FullTextSearchTest/bin
Phase05/Phase4Solution/FullTextSearchTest/obj
Phase05/Phase4Solution/FullTextSearch/bin
Phase05/Phase4Solution/FullTextSearch/obj
Phase05/Phase4Solution/FullTextSearch/Assets/files